<nav class="navbar navbar-inverse">
	<ul class="nav nav-pills">
		<li role="presentation"><a href="${pageContext.request.contextPath}/ecole/liste">Accueil</a></li>
		<li role="presentation"><a href="<c:url value='/ecole/afficheAdd' />">Ajouter</a></li>
		<li role="presentation"><a href="<c:url value='/ecole/afficheUpdate' />">Modifier</a></li>
		<li role="presentation"><a href="<c:url value='/ecole/afficheGet' />">Rechercher</a></li>
		<li role="presentation"><a href="<c:url value='/ecole/afficheDelete' />">Supprimer</a></li>
	</ul>
</nav>